*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
html,body{
    height: 100%;
    width:100%;
}
body{
    background-color: black;
}
.parent{
    height: 100px;
    width: 100px;
    background-color: red;
}
@media(max-width:600px){
    .parent{
    height: 300px;
    width: 300px;
    background-color: bisque;
}
}
