*{
    padding: 0;
    margin: 0;
    color: black;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: blanchedalmond;
}
input:focus{
    color: azure;
    background-color: brown;
}
li::before{
    content: '>';
}
button:hover{
    color: red;
    background-color: green;
}
button{
    color: red;
    background-color: black;
   /* transition:all linear 2s;  */
 /* transition:all cubic-bezier(0.19, 1, 0.22, 1) 2s; 
 transition:all ease-in-out 2s;  */
 /* transition: background-color ease-out 2s ; */
}
#box{
    height: 200px;
    width: 200px;
    background-color: chocolate;
    margin: 40px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
     /* transform: translate(100px,100px); */
    /* transform: rotate(45deg); */
   transform: scale(1); 
}
#box:hover{
     transform: skew(10deg,20deg);
}
